@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 54);
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.Box {
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.Box h3 {
  margin-top: 0;
}

.Box p {
  margin: 2rem;
}

.Box button {
  background-color: rgb(40, 40, 54);
  color: whitesmoke;
  border: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: transform 0.1s linear;
}

.Box button:active {
  transform: scale(0.95);
}

.Box button:focus {
  outline: none;
}
